* {
    box-sizing: border-box;
  }

  body {
      background: url('https://www.ictsd.org/sites/default/files/news/shutterstock_176408066%20food.jpg');
      /* background: url('https://wallpapertag.com/wallpaper/full/4/6/5/273687-beautiful-white-wallpaper-2560x1600-cell-phone.jpg'); */
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }

  .home {
    display: flex;
    flex-direction: column;
    width: 20em;
    margin: 0 auto;
  }
  
  .newText {
    margin-top: 0;
    font-size: 0.75em;
  }
  
  .registerAccountButton {
    color: black;
    height: 31px;
  }
  
  .registerAccountButton > a:visited {
    color: black;
  }

  .login-box {
    padding-top: 70px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  .login-form {
    color: white;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: #000;
    border-radius: 5px;
    opacity: .7;
  }
  
  
  .login-form input {
    font-size: 15px;
    margin-top: 10px;
    width: 200px;
    height: 31px;
    margin-bottom: 10px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
      0 1px 0 rgba(0, 0, 0, 0.07) inset;
    outline: 0;
  }
  form input:focus {
    border-color: rgb(36, 104, 207);
    box-shadow: 0 0 3px 2px rgba(36, 104, 207, 0.5);
   
  }

  .registerAccountButton {
    font-size: 18px;
    color: black;
  }

  .loginbutton {
    font-size: 18px;
    color: black;
  }
  
  /* form button {
    width: 150px;
    height: 31px;
    margin-top: 10px;
    transition: all 100ms linear;
    background-color: rgb(36, 104, 207);
    color: white;
    border: none;
    margin-bottom: 15px;;
    font-size: 15px;

    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  } */

  .form-button:hover {
    background: rgb(34, 86, 230);
  }
  
  form button:active {
    transform: translateY(4px);
  }

  .logoutbutton {
    min-width: 100px;
    width: 100px;;
    height: 31px;
    margin-top: 10px;
    transition: all 100ms linear;
    background-color: rgb(173, 36, 207);
    color: white;
    border: none;
    margin-bottom: 15px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .logoutbutton:hover {
    background: rgb(34, 86, 230);
  }
  
  .logoutbuttonn:active {
    transform: translateY(4px);
  }
  
  button:focus {
    outline: 0;
  }
  
  .headbar {
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .ready {
    margin-top: 120px;
    font-weight: normal;
  }

  .start {
    min-width: 100px;
    width: 250px;;
    height: 80px;
    margin-top: 10px;
    transition: all 100ms linear;
    background-color: rgb(173, 36, 207);
    color: white;
    border: none;
    margin-bottom: 15px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 30px;
    border-radius: 20px;
  }
  
  .start:hover {
    background: rgb(34, 86, 230);
  }
  
  .start:active {
    transform: translateY(4px);
  }
  
  button:focus {
    outline: 0;
  }
  

  .startbutton{
    color: white;
  }

  .log, .register {
    min-width: 100px;
    width: 120px;;
    height: 30px;
    margin-top: 10px;
    transition: all 100ms linear;
    background-color: rgb(173, 36, 207);
    color: white;
    border: none;
    margin-bottom: 15px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  
  }
  
  .log:hover, .register:hover {
    background: rgb(34, 86, 230);
  }
  
  .log:active, .register:active {
    transform: translateY(4px);
  }
  
  button:focus {
    outline: 0;
  }
  

  .startbutton{
    color: white;
  }

  .box-input .holder {
    height: 50px;
    width: 300px;

  }

  .holder {
    font-size: 28px;
  }

  .meaning {
    font-weight: normal;
  }

  .input-section {
    padding-top: 30px;
  }

  .submit, .next, .over {
    margin-left: 20px;
  }

  .submit, .next, .over {
    min-width: 100px;
    width: 220px;;
    height: 60px;
    margin-top: 10px;
    transition: all 100ms linear;
    background-color: rgb(173, 36, 207);
    color: white;
    border: none;
    margin-bottom: 15px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 30px;
    border-radius: 25px;
  }
  
  .submit:hover, .next:hover, .over:hover {
    background: rgb(34, 86, 230);
  }
  
  .submit:active, .next:active, .over:active {
    transform: translateY(4px);
  }
  
  button:focus {
    outline: 0;
  }

  .answer {
    font-size: 20px;
    color: black;
  }

  .ngan {
    margin-top: 30px;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    width: 30%;
    margin: 0px auto;
    border-radius: 30px;
    width: 470px;
  }

  .questions {
    font-size: 35px;
  }

  @media screen and (max-width: 600px) {
    .ngan {
      width: 370px;
    }

    .submit, .next, .over {
      min-width: 80px;
      width: 220px;;
      height: 50px;
      font-size: 25px;
    }
  }