* {
    box-sizing: border-box;
  }

  body {
      background-image: url('https://www.ictsd.org/sites/default/files/news/shutterstock_176408066%20food.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }